<h3><a href="/"><i class="fas fa-code"></i>Aeropuerto</a></h2>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/aviones">Todos los Aviones</a>
          </li>
          <li>
            <a href="/aviones/add">Agregar un Avión</a>
          </li>
          <li>
            <a href="/aviones/buscar">Buscar un Avión</a>
          </li>
        </ul>
      </nav>