<h2 class="text-center m-4">Vuelos</h2>
<div class="container p-2">
    <div class="row">
            <div class="col-md-4">
                <div class="card text-justify">
                    <div class="card-body">
                        <h5 class="card-title text-center ">Número de vuelo: {{ datoVuelo.numeroVuelo }} </h5>
                        <p class="m-2">Fecha salida: {{ datoVuelo.fechaSalida }} </p>
                        <p class="m-2">Fecha llegada: {{ datoVuelo.fechaLlegada }} </p>
                        <div class="form-group">
                            <label for="sel1">Clase</label>
                            <select class="form-control" id="clase" name="clase">
                                <option>Primera Clase</option>
                                <option>Clase Económica</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>