<h2 class="text-center m-4">Pasajeros del vuelo: {{ dato }}</h2>
<div class="container p-2">
    <div class="row">
        {{#each datos}}
            <div class="col-md-4">
                <div class="card text-justify">
                    <div class="card-body">
                        <p class="m-2">Numero de pasaje: {{ nPasaje }} </p>
                        <p class="m-2">Clase: {{ clase }} </p>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="com-me 4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay pasajeros para este vuelo aún.</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>