<div class="container p-4 text-center">
    <h1>Editar datos avión</h1>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    {{#each avion}}
                    <form action="/aviones/edit/{{matriculaAvion}}" method="POST">
                        <p>Matricula del avión</p>
                        <div class="form-group">
                            <input type="text" value="{{matriculaAvion}}" class="form-control" name="matriculaAvion" disabled>
                        </div>
                        <p>Estado</p>
                        <div class="form-group">
                            <input type="text" value="{{estado}}" class="form-control" name="estado">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block"> Actualizar </button>
                        </div>
                    </form>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>